In [203]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [204]:
#IMPORTING DATASET
df=pd.read_csv("DATASETS/house.csv")
df.head(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [205]:
#SEPERATING DEPENDENT AND INDEPENDENT VARIABLES
X=df.iloc[:,1:]
y=df.iloc[:,:1]

In [206]:
X.head(5)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [207]:
y.head(5)

      price
0  221900.0
1  538000.0
2  180000.0
3  604000.0
4  510000.0

In [208]:
#SPLITTING DATA INTO TRAINING AND SPLITTING
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=45)

In [209]:
#implementing Multiple Linear Regression
reg=LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [210]:
#Storing predicted value of Multiple Linear Regression model
y_pred=reg.predict(X_test)

In [211]:
#Finding r2 score and root mean squared error of Multiple linear regression
from sklearn.metrics import r2_score, mean_squared_error
r2_Reg=r2_score(y_test,y_pred)
rmse_Reg=np.sqrt(mean_squared_error(y_test,y_pred))

In [212]:
#implementing Ridge Multiple Linear Regression
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=1.0)
ridge.fit(X_train,y_train)

Ridge()

In [213]:
#Storing predicted value of Ridge Multiple Linear Regression model
ridge_pred=ridge_regressor.predict(X_test)

In [214]:
#Finding r2 score and root mean squared error of Ridge Multiple linear regression
r2_Ridge=r2_score(y_test,ridge_pred)
rmse_Ridge=np.sqrt(mean_squared_error(y_test,ridge_pred))

In [215]:
#implementing Lasso Multiple Linear Regression
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=1.0)
lasso.fit(X_train,y_train)

C:\Users\91902\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 295387800418809.7, tolerance: 215293195847.11172
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [216]:
#Storing predicted value of Lasso Multiple Linear Regression model
lasso_pred=lasso.predict(X_test)

In [217]:
#Finding r2 score and root mean squared error of Lasso Multiple linear regression
r2_Lasso=r2_score(y_test,lasso_pred)
rmse_Lasso=np.sqrt(mean_squared_error(y_test,lasso_pred))

In [218]:
print("THE R2 SCORE OF ALL MODELS:")

print("LINEAR REGRESSION:",r2_Reg)
print("RIDGE REGRESSION:",r2_Ridge)
print("LASSO REGRESSION:",r2_Lasso)

THE R2 ERROR OF ALL MODELS:
LINEAR REGRESSION: 0.7037562519874043
RIDGE REGRESSION: 0.7033950975052143
LASSO REGRESSION: 0.703752428705316

In [219]:
print("THE ROOT MEAN SQUARED ERROR OF ALL MODELS:")

print("LINEAR REGRESSION:",rmse_Reg)
print("RIDGE REGRESSION:",rmse_Ridge)
print("LASSO REGRESSION:",rmse_Lasso)

THE ROOT MEAN SQUARED SCORE OF ALL MODELS:
LINEAR REGRESSION: 204612.61658816057
RIDGE REGRESSION: 204737.30150672578
LASSO REGRESSION: 204613.93693539707